.group-pfp {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.group-link {
    color:  white;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    border-color: rgba(52, 58, 63, 0.644);
    transition: background-color 0.5s ease;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.group-link-not-active {
    background-color: rgba(52, 58, 63, 0.644);
}

.group-link-active {
    background-color: rgba(100, 112, 122, 0.644);
}

.group-btn {
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    color: white;
    background-color: rgba(52, 58, 63, 0.644);
    transition: background-color 0.5s ease;
    border: 1px solid rgba(52, 58, 63, 0.644);
}

.group-btn:hover {
    background-color: rgba(100, 112, 122, 0.644);
}

.group-link:hover {
    background-color: rgba(100, 112, 122, 0.644);
}

.text-gr-dark {
    color: rgb(113, 113, 113)
}